# R and Python comparison

## Basic command

In [68]:
# Arithmetic operators
a <- 1 
a = 3
b = 4 

a + b 
a - b 
a * b 
a / b 
a ^ b
a %% b
factorial(b)

[1] 7

[1] -1

[1] 12

[1] 0.75

[1] 81

[1] 3

[1] 24

In [70]:
# Relational operators
a == b 
a < b
a > b
a <= b
a >= b
a != b

[1] FALSE

[1] TRUE

[1] FALSE

[1] TRUE

[1] FALSE

[1] TRUE

In [99]:
# Logical operators
a = c(TRUE,TRUE)
b = c(FALSE,TRUE)
c = c(TRUE,TRUE)
a & b  # Elmenet-wise logical AND
a && b # Short-circuit logical AND
a | b  # Elmenet-wise logical OR
a || b # Short-circuit logical or

[1] FALSE  TRUE

[1] FALSE

[1] TRUE TRUE

[1] TRUE

In [103]:
# root and logarithm
a = 4
sqrt(a)
log(a)
log10(a)
log2(a)
exp(a)

[1] 2

[1] 1.386294

[1] 0.60206

[1] 2

[1] 54.59815

In [116]:
# Round off
a = 1.29879
round(a, digits = 4)
ceiling(a)
floor(a)

[1] 1.2988

[1] 2

[1] 1

In [119]:
#  Mathematical constants
pi 
exp(1)

[1] 3.141593

[1] 2.718282

## dplyr and ggplot2 similarity

In [4]:
# import pandas as pd 
Packages <- c("dplyr", "ggplot2")
lapply(Packages, library, character.only = TRUE)

[[1]]
[1] "dplyr"     "stats"     "graphics"  "grDevices" "utils"     "datasets"
[7] "methods"   "base"

[[2]]
[1] "ggplot2"   "dplyr"     "stats"     "graphics"  "grDevices" "utils"
[7] "datasets"  "methods"   "base"

In [6]:
# Reading data
df <- read.csv("./ozone.data.csv")
head(df)

  rad temp wind ozone
1 190 67    7.4 41
2 118 72    8.0 36
3 149 74   12.6 12
4 313 62   11.5 18
5 299 65    8.6 23
6  99 59   13.8 19

In [30]:
# list unique strings
# df["rad"].unique()
uni = unique(df$rad)
uni = df[,"rad"] %>% unique
print(uni)

 [1] 190 118 149 313 299  99  19 256 290 274  65 334 307  78 322  44   8 320  25
[20]  92  13 252 223 279 127 291 323 148 191 284  37 120 137 269 248 236 175 314
[39] 276 267 272 264  48 260 285 187 220   7 294  81  82 213 275 253 254  83  24
[58]  77 255 229 207 192 273 157  71  51 115 244 259  36 212 238 215 203 225 237
[77] 188 167 197 183 189  95 230 112 224  27 201  14 139  49  20 193 131

In [36]:
# length of unique
# len(df["rad"].unique())
len = df$rad %>% unique %>% length
len = df %>% select(rad) %>% unique %>% nrow

In [44]:
# Counting occurrences 
# df["rad"].value_counts()
table(df$rad) %>% sort(decreasing=TRUE) # like python value_counts()

238 175 223 259  24  92 190 191 220 236 237 252 274   7   8  13  14  19  20  25
  4   3   3   3   2   2   2   2   2   2   2   2   2   1   1   1   1   1   1   1
 27  36  37  44  48  49  51  65  71  77  78  81  82  83  95  99 112 115 118 120
  1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1
127 131 137 139 148 149 157 167 183 187 188 189 192 193 197 201 203 207 212 213
  1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1
215 224 225 229 230 244 248 253 254 255 256 260 264 267 269 272 273 275 276 279
  1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1
284 285 290 291 294 299 307 313 314 320 322 323 334
  1   1   1   1   1   1   1   1   1   1   1   1   1